.heading2Xl {
  font-size: 2.5rem;
  line-height: 1.2;
  font-weight: 700;
  letter-spacing: -0.05rem;
  margin: 1rem 0;
}

.headingXl {
  font-size: 2rem;
  line-height: 1.3;
  font-weight: 700;
  letter-spacing: -0.05rem;
  margin: 1rem 0;
}

.headingLg {
  font-size: 1.5rem;
  line-height: 1.4;
  margin: 1rem 0;
}

.headingMd {
  font-size: 1.2rem;
  line-height: 1.5;
}

.menu {
  margin: 20px auto;
  color: #999;
  text-align: center;
  line-height: 1.5;
}

.verticalMiddle {
  vertical-align: middle;
}

.tag {
  margin-right: 12px;
  font-size: 0.8em;
}

.faText {
  display: none;
}

.borderCircle {
  border-radius: 9999px;
}

.colorInherit {
  color: inherit;
}

.padding1px {
  padding-top: 1px;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.listItem {
  margin: 0 0 1.25rem;
}

.lightText {
  color: rgb(88, 88, 88);
  font-size: 0.9rem;
}

.marginBottom {
  margin-bottom: 40px;
}
